body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0; /* Para evitar barras de scroll con width: 100vw */
    padding: 20px; /* El padding se aplicará dentro del body */
    height: 100vh; /* El body ocupará el 100% de la altura del viewport */
    width: 100vw; /* El body ocupará el 100% del ancho del viewport */

     /*Background color rgba*/
    background-color:rgba(44, 248, 234, 0.7);

     /* Imagen de fondo */
    background-image: url(imagenes/2557a9c22d8b24a8ec0a5595413645f0.jpg);
    
     /* Posicion de la imagen  */
    background-position: center center;

     /* Desplazamiento de la imagen */
    background-attachment: fixed;

     /* Tamaño de la imagen */
    background-size: cover;

     /* fuente de Google font */
    font-family: "Roboto Condensed", sans-serif;

     /* Estilo de fuente para la legibilidad */
    font-optical-sizing: auto;

    /* Tamaño de la fuente */
    font-weight: 400;

    /* Estilo de la fuente */
    font-style: normal;

}

.card {
    display: inline-block;
    border: 3px solid;
    border-color: black;
    padding: 15px;
    vertical-align: top;
    height: 300px;
    width: 200px;
    margin: 16px;
    overflow: hidden;
    background-color:rgba(211, 86, 86, 0.5);
}

.card > img {
    width: 100%;
    height: 88%;
    object-fit: contain;
    border-radius: 8px;
    display: block;
    margin-bottom: 10px;
}